@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #001f3f;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #001f3f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(-45deg, #dae2fc, #eeddf3, #e4eefc, #e9fdf5);
  background-size: 400% 400%;
  animation: gradientShift 5s ease infinite;
}


